<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug builds only. configChanges as MainActivity: rotating must not rebuild the activity (it would drop the open project's undo history and GL context). -->
        <activity
            android:name=".StudioDebugActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density|fontScale|layoutDirection|locale" />
    </application>
</manifest>
